.container{
    display:flex;
    margin-top: 10px;
}

.logout{
    margin-top: 400px;
    z-index: 1;
    
}

#logout{
    height: 30px;
    width: 70px;
    margin-left: -250px;
    background-color: rgb(240, 240, 255);
    border-radius: 10px;
    border-color: rgb(187, 186, 186);
    cursor: pointer;
    position: fixed;
}

.link{
    text-decoration: none;
    color: inherit;
}
